.large-12.small-6.columns.large-centered.tileheader
  %table#cubeblank
    %tr
      %td
        %a.tile= ''
      %td
        %a.tile= ''
      %td
        %a.tile= ''
      %td
        %a.tile= ''
    %tr
      %td
        %a.tile= ''
      %td
        %a.tile= ''
      %td
        %a.tile= ''
      %td
        %a.tile= ''
    %tr
      %td
        %a.tile= ''
      %td
        %a.tile= ''
      %td
        %a.tile= ''
      %td
        %a.tile= ''
    %tr
      %td
        %a.tile= ''
      %td
        %a.tile= ''
      %td
        %a.tile= ''
      %td
        %a.tile= ''