%table#cubeblank
  %tr
    %td
      %a.tile.shake= ''
    %td
      %a.tile.shake= ''
    %td
      %a.tile.shake= ''
    %td
      %a.tile.shake= ''
  %tr
    %td
      %a.tile.shake= ''
    %td
      %a.tile.shake= ''
    %td
      %a.tile.shake= ''
    %td
      %a.tile.shake= ''
  %tr
    %td
      %a.tile.shake= ''
    %td
      %a.tile.shake= ''
    %td
      %a.tile.shake= ''
    %td
      %a.tile.shake= ''
  %tr
    %td
      %a.tile.shake= ''
    %td
      %a.tile.shake= ''
    %td
      %a.tile.shake= ''
    %td
      %a.tile.shake= ''