%script
  app.pusher = new Pusher('4265009735b51af74a68')
  = "app.channel = app.pusher.subscribe('#{@game.name}')"
  app.channel.bind('start_game', app.start_game)
  app.channel.bind('refresh_words', app.refresh_words)

#main
  .row
    .large-12.small-12.columns.gamenav
      #start= link_to("Start!", "/start/#{@game.name}", :class => 'button gamebuttons', :remote => true)
      #invite= link_to('Invite', invite_path, :class => 'button invitebuttons', :remote => true)
      #gameheader= @game.name.capitalize
      #time= '0:00'

#main2
  .row.gamepanel.header
    .large-4.columns
      #tiles
        = render 'games/tiles_blank'
    .large-6.columns
      #word_list
        = render 'games/answers'

.row
  #form

#end_game
