%script
  app.pusher = new Pusher('4265009735b51af74a68')
  = "app.channel = app.pusher.subscribe('#{@game.name}')"
  app.channel.bind('start_game', app.start_game)
  app.channel.bind('refresh_words', app.refresh_words)

#main2
  .row
    .large-12.small-12.columns.gamenav
      #start= link_to("Start!", "/start/#{@game.name}", :class => 'button startgamebutton', :remote => true)
      #invite= link_to('Invite', "/invite/#{@game.name}", :class => 'button invitebuttons', :remote => true)
      #stop= link_to('Quit', games_path, :class => 'button stopbutton')
      #gameheader= @game.name.upcase
      #time= '0:00'
  .row.gamepanel
    .large-4.columns
      - users = @auth.games.last.users
      .username= "Playing:"
      - users.each do |user|
        .username= user.username
      #tiles
        = render 'games/tiles_blank'
      #submit_word
        = link_to('Enter Word', '#', :'data-game-name' => @game.name, :remote => true, :class => 'button enterword')
    .large-6.columns
      #word_list

.row
  #form

#end_game
